body {
    background-color: black;
    color: white;
}

div {
    margin-left: 10px;
}

img{
  height: 100px;
  display: inline-block;
  margin: 5px 5px;
}

input {
    padding: 5px;
    margin: 5px 0px;
}

button {
    margin: 5px 5px;
}

